<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Till startsidan" href="/#!/handla">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h2>
            <span>{{vm.selectedStore.name}}</span>
        </h2>
        <span flex></span>
        <md-progress-circular ng-show="vm.isLoading || vm.isWorking" md-mode="indeterminate" class="md-accent" md-diameter="25px"></md-progress-circular>
        <span class="number-of-items">{{vm.items.length}} {{(vm.items.length === 1 ? 'vara' : 'varor')}}</span>
    </div>
</md-toolbar>

<md-list ng-if="!vm.isLoading && vm.selectedStore">
    <div ng-repeat="section in vm.selectedStore.sections">
        <md-subheader class="md-primary">{{ section.name }}</md-subheader>
        <md-list-item ng-repeat="item in section.items | orderBy:'productName'" ng-click="vm.markItemAsDone(item)">
            <p> {{ item.productName }} </p>
            <span>{{ item.comment }}</span>
        </md-list-item>
    </div>
</md-list>
