@import '../variables.scss';

.page.home {
    position: relative;
    min-height: 100vh;

    .brand {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;

        .material-icons {
            border: 1px solid $white;
            padding: 10px;
            font-size: 40px;
            padding: 20px;
            border-radius: 60px;
        }
    }

    .login-box {
        background-color: $white;
        text-align: center;

        .md-button.facebook {
            color: $white;
            background-color: $facebook-blue-medium;
            padding: 6px 24px;

            &:not([disabled]) {
                &:hover, &:active, &:focus {
                    color: $white;
                    background-color: $facebook-blue;
                }
            }
        }
    }

    .tabs-box {
        min-width: 280px;
    }

    .public-transport {
        md-card-header-text {
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
