<!--https://developers.facebook.com/docs/facebook-login/userexperience-->

<md-content class="page home" layout="column" layout-padding layout-align="center center">
    <h1 class="md-headline welcome" ng-if="vm.user.authenticationPending">Välkommen!<br/>Vänta medan vi loggar in dig.</h1>

    <div ng-controller="LoginCtrl as vm" ng-if="!vm.user.authenticationPending && !vm.user.isAuthorized">
        <md-button aria-label="Fortsätt med Facebook" ng-click="vm.loginUsingExternalProvider('Facebook');">Logga in med Facebook</md-button>
    </div>

    <div ng-if="!vm.user.authenticationPending && vm.user.isAuthorized">
        Inloggad
    </div>
</md-content>
