@import 'variables.scss';
@import 'components/home.scss';

.view-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


md-toolbar {
    .md-default-theme:not(.md-menu-toolbar), :not(.md-menu-toolbar) {
        background-color: rgb(48,48,48);
    }

    &.toolbar-transparent {
        background-color: transparent;
    }

    .number-of-items {
        margin-left: 12px;
    }
}

md-toast {
    position: fixed;
}


.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.page {
    position: relative;

    .brand {
        height: 50vh;

        .material-icons {
            font-size: 80px;
        }
    }

    .content-area {
        height: 200px;
    }

    .buttons {
        a {
            text-align: center;
        }

        .material-icons {
            border: 2px solid $white;
            padding: 10px;
            font-size: 30px;
            padding: 20px;
            border-radius: 60px;
        }
    }

    .bottom-menu {
        height: 64px;
    }
}
