<div class="page home">
    <md-toolbar class="toolbar-transparent">
        <div class="md-toolbar-tools">
            <h2 hide-xs>Mjölk & bröd</h2>
            <span flex></span>
            <div ng-show="authData.isAuthorized">
                <!-- DESKTOP MENU -->
                <div hide-xs>
                    <md-button aria-label="Handla" ng-click="goto('valj-butik')">Handla</md-button>
                    <md-button aria-label="Planera" ng-click="goto('planera')">Planera</md-button>
                    <md-menu md-position-mode="target-right target" md-offset="-10 55">
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                            <md-icon>account_circle</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item><md-button ng-disabled="true">Administrera</md-button></md-menu-item>
                            <md-menu-item><md-button ng-click="goto('butiker')">Butiker</md-button></md-menu-item>
                            <md-menu-item><md-button ng-click="goto('produkter')">Produkter</md-button></md-menu-item>
                            <md-divider></md-divider>
                            <md-menu-item><md-button ng-click="logout()">Logga ut</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <!-- MOBILE MENU -->
                <md-menu hide-gt-xs md-position-mode="target-right target" md-offset="-10 55">
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item><md-button ng-click="goto('valj-butik')">Handla</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="goto('planera')">Planera</md-button></md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item><md-button ng-disabled="true">Administrera</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="goto('butiker')">Butiker</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="goto('produkter')">Produkter</md-button></md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item><md-button ng-click="logout()">Logga ut</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div ng-controller="LoginCtrl" ng-show="!authData.isAuthorized">
                <md-button class="md-raised facebook" aria-label="Logga in med Facebook" ng-click="authExternalProvider('Facebook');">
                    Logga in med Facebook
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <div class="hero" layout="column" layout-align="center center" layout-padding>
        <h1>Handla smartare</h1>
        <p>Läs mer nedan om hur det fungerar!</p>
    </div>

    <div class="how-it-works" layout="column" layout-gt-xs="row" layout-margin layout-padding>
        <div flex="33">
            <h3 class="md-headline">Gör inköpslistan</h3>
            <p class="md-body-2">I lugn och ro gör du din inköpslista vid vilken dator eller surfplatta du vill. Lägg till nya varor eller klicka enkelt på de som du tidigare lagt till. Bygg gärna upp dina favoritbutiker med avdelningar, allt för att göra det lättare och snabbare för dig att handla.</p>
        </div>
        <div flex="33">
            <h3 class="md-headline">Åk till butiken</h3>
            <p class="md-body-2">Väl i butiken tar du fram din smarta telefon, det spelar ingen roll vilken sort, iPhone, Android, etc. Gå till hemsidan och ladda ner din inköpslista.</p>
            <p class="md-body-2">Skulle någon där hemma komma på något mer som behöver handlas så kan de självklart lägga till det och det dyker upp i listan när du är framme i butiken.</p>
        </div>
        <div flex="33">
            <h3 class="md-headline">Börja handla</h3>
            <p class="md-body-2">I takt med att du köper saker i butiken så kryssar du av dem och du har hela tiden koll på vad som är kvar att köpa. Varorna presenteras avdelningsvis så det är enkelt, snabbt och effektivt att handla.</p>
        </div>
    </div>
</div>
