<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Till startsidan" href="/#!/handla">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h2>
            <span>Butiker</span>
        </h2>
        <span flex></span>
        <md-progress-circular ng-if="isLoading" md-mode="indeterminate" class="md-accent" md-diameter="25px"></md-progress-circular>
    </div>
</md-toolbar>

<md-list ng-if="!isLoading">
    <md-subheader class="md-no-sticky md-primary">Välj butik...</md-subheader>
    <md-list-item ng-repeat="store in stores" ng-click="gotoDetails(store)">
        <p> {{ store.name }} </p>
    </md-list-item>
</md-list>

<md-button class="md-fab bottom-right" ng-click="showAddNewDialog($event)" aria-label="Lägg till butik">
    <md-icon>add</md-icon>
</md-button>

