<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Till butikerna" href="#!/handla/butiker">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h2>
            <span>{{store.name}}</span>
        </h2>
        <span flex></span>
        <md-progress-circular ng-show="isLoading || isWorking" md-mode="indeterminate" class="md-accent" md-diameter="25px"></md-progress-circular>
        <md-button class="md-icon-button" aria-label="Ändra" ng-click="showRenameDialog($event)">
            <md-icon>edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Ta bort" ng-click="showDeleteDialog($event)">
            <md-icon>delete</md-icon>
        </md-button>
    </div>
</md-toolbar>

<section ng-if="!isLoading">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-list ng-repeat="section in store.sections.slice(0, storeCenterIndex)">
                <md-subheader class="md-no-sticky md-primary">{{section.name}}</md-subheader>
                <md-list-item ng-repeat="product in section.products | orderBy:'name'">
                    <p>{{product.name}}</p>
                    <md-menu>
                        <md-button class="md-icon-button">
                            <md-icon>move_to_inbox</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="toSection in store.sections">
                                <md-button ng-disabled="section.id==toSection.id" ng-click="moveProductToSection(product, section, toSection)">{{toSection.name}}</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item><md-button ng-click="moveProductToSection(product, section, store.ignoredProductsSection)">Ignorera</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-list ng-repeat="section in store.sections.slice(storeCenterIndex)">
                <md-subheader class="md-no-sticky md-primary">{{section.name}}</md-subheader>
                <md-list-item ng-repeat="product in section.products | orderBy:'name'">
                    <p>{{product.name}}</p>
                    <md-menu>
                        <md-button class="md-icon-button">
                            <md-icon>move_to_inbox</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="toSection in store.sections">
                                <md-button ng-disabled="section.id==toSection.id" ng-click="moveProductToSection(product, section, toSection)">{{toSection.name}}</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item><md-button ng-click="moveProductToSection(product, section, store.ignoredProductsSection)">Ignorera</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </div>
    </md-content>

    <md-content ng-if="newProductsSection.products.length > 0" class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-list>
                <md-subheader class="md-no-sticky md-primary">{{newProductsSection.name}}</md-subheader>
                <md-list-item ng-repeat="product in newProductsSection.products | orderBy:'name'">
                    <p>{{product.name}}</p>
                    <md-menu>
                        <md-button class="md-icon-button">
                            <md-icon>move_to_inbox</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="toSection in store.sections">
                                <md-button ng-disabled="section.id==toSection.id" ng-click="moveProductToSection(product, section, toSection)">{{toSection.name}}</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item><md-button ng-click="moveProductToSection(product, section, store.ignoredProductsSection)">Ignorera</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </div>
    </md-content>

    <md-content ng-if="store.ignoredProductsSection.products.length > 0" class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-list>
                <md-subheader class="md-no-sticky md-primary">{{store.ignoredProductsSection.name}}</md-subheader>
                <md-list-item ng-repeat="product in store.ignoredProductsSection.products | orderBy:'name'">
                    <p>{{product.name}}</p>
                    <md-menu>
                        <md-button class="md-icon-button">
                            <md-icon>move_to_inbox</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="toSection in store.sections">
                                <md-button ng-disabled="section.id==toSection.id" ng-click="moveProductToSection(product, section, toSection)">{{toSection.name}}</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item><md-button ng-click="moveProductToSection(product, section, store.ignoredProductsSection)">Ignorera</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </div>
    </md-content>


    <md-button class="md-fab bottom-right" ng-click="showAddNewSectionDialog($event)" aria-label="Lägg till avdelning">
        <md-icon>add</md-icon>
    </md-button>
</section>

