<md-content class="page home" layout="column" layout-padding layout-fill md-theme="introTheme">
    <div flex layout="column" layout-align="center center" class="brand">
        <i class="material-icons">face</i>
        <h1 class="md-headline">
            lilybot
        </h1>
        <p class="md-caption">Din smarta hjälpreda i molnet</p>
    </div>

    <div flex="none" layout="row" layout-align="center center" class="content-area">
        <div ng-controller="LoginCtrl as vm" ng-if="!vm.user.isAuthorized">
            <md-button class="facebook" ng-click="vm.loginUsingExternalProvider('Facebook');">Fortsätt med Facebook</md-button>
        </div>

        <div ng-if="vm.user.isAuthorized" flex layout="row" layout-align="center center" class="buttons">
            <div flex layout="column" layout-align="center center">
                <a ng-click="vm.goto('handla');">
                    <i class="material-icons">add_shopping_cart</i>
                    <h2 class="md-subhead">shopping
                    </h2>
                </a>
            </div>
            <div flex layout="column" layout-align="center center">
                <a>
                    <i class="material-icons">train</i>
                    <h2 class="md-subhead">commute
                    </h2>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-menu" layout="row" layout-align="center center">
        <md-button ng-if="vm.user.isAuthorized" ng-click="vm.logout();">Logga ut</md-button>
    </div>
</md-content>
