.page.home {
  position: relative;
  min-height: 100vh; }
  .page.home .brand {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center; }
    .page.home .brand .material-icons {
      border: 1px solid #fafafa;
      padding: 10px;
      font-size: 40px;
      padding: 20px;
      border-radius: 60px; }
  .page.home .login-box {
    background-color: #fafafa;
    text-align: center; }
    .page.home .login-box .md-button.facebook {
      color: #fafafa;
      background-color: #4267b2;
      padding: 6px 24px; }
      .page.home .login-box .md-button.facebook:not([disabled]):hover, .page.home .login-box .md-button.facebook:not([disabled]):active, .page.home .login-box .md-button.facebook:not([disabled]):focus {
        color: #fafafa;
        background-color: #3b5899; }

.page.planning .number-of-items {
  margin-left: 12px; }

md-toolbar.toolbar-transparent {
  background-color: transparent; }

md-toast {
  position: fixed; }

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px; }
