<div class="page planning">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Till startsidan" href="/#!/handla">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h2>
                <span>Planera</span>
            </h2>
            <span flex></span>
            <md-progress-circular ng-show="vm.isLoading || vm.isWorking" md-mode="indeterminate" class="md-accent" md-diameter="25px"></md-progress-circular>
            <span hide-gt-xs class="number-of-items">{{vm.items.length}} {{(vm.items.length === 1 ? 'vara' : 'varor')}}</span>
        </div>
    </md-toolbar>

    <section ng-if="!vm.isLoading">
        <md-content layout-padding layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50">
                <md-autocomplete placeholder="Sök produkter..."
                                 md-selected-item="vm.selectedItem"
                                 md-selected-item-change="vm.autocompleteSelectedItemChanged(item)"
                                 md-search-text="vm.searchText"
                                 md-items="item in vm.querySearch(vm.searchText)"
                                 md-item-text="item.name"
                                 md-no-cache="true">
                    <md-item-template>
                        <span>{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        Inga träffar hittade.
                    </md-not-found>
                </md-autocomplete>
                <h4>De vanligaste produkterna</h4>
                <md-button class="md-raised" ng-repeat="product in vm.products" ng-show="!product.hidden" ng-click="vm.addItemToList(product)">{{product.name}}</md-button>
            </div>
            <div flex-xs flex-gt-xs="50">
                <h2 class="md-title">Inköpslistan</h2>
                <md-menu ng-repeat="item in vm.items | orderBy:'productName'">
                    <md-button class="md-raised" ng-click="$mdOpenMenu($event)">{{item.productName + (item.comment ? '*' : '')}}</md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="vm.showCommentDialog($event, item)">Kommentar</md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="vm.removeFromList(item)">Ta bort</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-content>
    </section>

    <md-button class="md-fab bottom-right" ng-click="vm.showAddNewProductDialog($event)" aria-label="Lägg till produkt">
        <md-icon>add</md-icon>
    </md-button>
</div>