.page.home .md-button.facebook {
  color: #fafafa;
  background-color: #4267b2;
  padding: 6px 24px; }
  .page.home .md-button.facebook:not([disabled]):hover, .page.home .md-button.facebook:not([disabled]):active, .page.home .md-button.facebook:not([disabled]):focus {
    color: #fafafa;
    background-color: #3b5899; }

.view-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

md-toolbar .md-default-theme:not(.md-menu-toolbar), md-toolbar :not(.md-menu-toolbar) {
  background-color: #303030; }

md-toolbar.toolbar-transparent {
  background-color: transparent; }

md-toolbar .number-of-items {
  margin-left: 12px; }

md-toast {
  position: fixed; }

.top-right {
  position: absolute;
  top: 20px;
  right: 20px; }

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px; }

.page {
  position: relative; }
  .page .brand {
    height: 50vh; }
    .page .brand .material-icons {
      font-size: 80px; }
  .page .content-area {
    height: 200px; }
  .page .buttons a {
    text-align: center; }
  .page .buttons .material-icons {
    border: 2px solid #fafafa;
    padding: 10px;
    font-size: 30px;
    padding: 20px;
    border-radius: 60px; }
  .page .bottom-menu {
    height: 64px; }
