<!DOCTYPE html>
<html lang="sv-se" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>lilybot:shopping - den smarta inköpslistan i molnet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link href="assets/css/site.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body>
    <div ng-view></div>

    <!-- 3rd party libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>

    <!-- Load app main script -->
    <script src="app/app.js"></script>

    <!-- Load services -->
    <script src="app/shared/services/authenticationInterceptorService.js"></script>
    <script src="app/shared/services/authenticationService.js"></script>
    <script src="app/shared/services/facebookService.js"></script>

    <!-- Load controllers -->
    <script src="app/components/home/home.js"></script>
    <script src="app/components/home/homeController.js"></script>
    <script src="app/components/home/loginController.js"></script>
    <script src="app/components/createAccount/createAccount.js"></script>
    <script src="app/components/createAccount/createAccountController.js"></script>
</body>
</html>
