<md-content class="page shopping shopping-home" layout="column" layout-padding layout-fill md-theme="introTheme">
    <md-button ng-click="vm.onMenuButtonClicked()" class="md-icon-button top-right">
        <md-icon>menu</md-icon>
    </md-button>

    <div flex layout="column" layout-align="center center" class="brand">
        <i class="material-icons">face</i>
        <h1 class="md-headline">
            lilybot:<strong>shopping</strong>
        </h1>
        <p class="md-caption">Din smarta inköplista i molnet</p>
    </div>

    <div flex="none" layout="row" layout-align="center center" class="content-area">
        <div flex layout="row" layout-align="center center" class="buttons">
            <div flex layout="column" layout-align="center center">
                <a ng-click="vm.goto('handla/valj-butik');">
                    <i class="material-icons">add_shopping_cart</i>
                    <h2 class="md-subhead">i butik</h2>
                </a>
            </div>
            <div flex layout="column" layout-align="center center">
                <a ng-click="vm.goto('handla/planera');">
                    <i class="material-icons">assignment</i>
                    <h2 class="md-subhead">planera</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-menu" layout="row" layout-align="center center">
        <md-button ng-click="vm.goto('');">Hem</md-button>
    </div>
</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Inställningar</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item ng-click="vm.goto('handla/butiker')">Butiker</md-list-item>
            <md-list-item ng-click="vm.goto('handla/produkter')">Produkter</md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
