<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
      <add key="SeedAllowedOrigin" value="http://lilybotshoppingweb.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="FacebookAppId" value="1737774586462427" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="FacebookAppSecret" value="5a341cd7eaeeec37c9d03447b4e5bea3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="FacebookAppToken" value="1737774586462427|3ag3O8f3jXHW-dmwGdUoAH7Lhcg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>