@import '../variables.scss';

.page.home {
    .md-button.facebook {
        color: $white;
        background-color: $facebook-blue-medium;
        padding: 6px 24px;

        &:not([disabled]) {
            &:hover, &:active, &:focus {
                color: $white;
                background-color: $facebook-blue;
            }
        }
    }
}
