<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>AzureProduction</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lilyauthenticationapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lilyauthenticationapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LilyAuthenticationAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LilyAuthenticationAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lilydbserver.database.windows.net,1433;Initial Catalog=LilyAuthenticationAPI_db;User ID=sqladmin@lilydbserver;Password=hs671##ER99s" Name="Data Source=tcp:lilydbserver.database.windows.net,1433;Initial Catalog=LilyAuthenticationAPI_db;User Id=sqladmin@lilydbserver;Password=hs671##ER99s" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Lily.Authentication.API.AuthContext, Lily.Authentication.API" MigrationConfiguration="Lily.Authentication.API.Migrations.Configuration, Lily.Authentication.API" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lilydbserver.database.windows.net,1433;Initial Catalog=LilyAuthenticationAPI_db;User Id=sqladmin@lilydbserver;Password=hs671##ER99s</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>