<md-content class="page" layout="column" layout-padding layout-fill md-theme="introTheme">
    <md-button ng-click="vm.goto('');" class="md-icon-button top-left">
        <md-icon>home</md-icon>
    </md-button>
    <md-button ng-click="vm.onMenuButtonClicked()" class="md-icon-button top-right">
        <md-icon>menu</md-icon>
    </md-button>

    <div flex layout="column" layout-align="center center" class="brand">
        <i class="material-icons">face</i>
        <h1 class="md-headline">
            lilybot:<strong>commute</strong>
        </h1>
        <p class="md-caption">Din smarta pendlingsassistent i molnet</p>
    </div>

    <div flex="none" layout="row" layout-align="center center" class="content-area">
        <div ng-show="vm.isLoadingProfile" layout="column" layout-align="center center">
            <md-progress-circular ng-show="vm.isLoadingProfile" class="md-accent" md-mode="indeterminate" md-diameter="50px"></md-progress-circular>
            <p>Laddar profil</p>
        </div>

        <div flex layout="row" layout-align="center center" class="buttons" ng-show="!vm.isLoadingProfile">
            <div flex layout="column" layout-align="center center">
                <a ng-click="vm.goto('pendla/kollektivt');">
                    <i class="material-icons">train</i>
                    <h2 class="md-subhead">kollektivt</h2>
                </a>
            </div>
            <div flex layout="column" layout-align="center center">
                <a ng-click="vm.goto('pendla/bil');">
                    <i class="material-icons">directions_car</i>
                    <h2 class="md-subhead">bil</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-menu" layout="row" layout-align="center center">
    </div>
</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Inställningar</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item ng-click="vm.goto('handla/butiker')">Butiker</md-list-item>
            <md-list-item ng-click="vm.goto('handla/produkter')">Produkter</md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
