@import 'variables.scss';
@import 'components/home.scss';

md-toolbar {
    &.toolbar-transparent {
        background-color: transparent;
    }
}

md-toast {
    position: fixed;
}

.bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
